:root{

--bg:#F8FCFC;

--card:#FFFFFF;

--primary:#3ED6D2;

--secondary:#21A6A1;

--text:#163737;

--textLight:#5E7777;

--shadow:
0 20px 60px rgba(0,0,0,.08);

--radius:30px;

}


.dark{

--bg:#08131F;

--card:#132230;

--text:#FFFFFF;

--textLight:#B6C4CC;

}